body {
	font-family: 'Roboto', sans-serif;
	background-image: url("greekbackgroundfull.png");
	display: block;
}


@font-face {
    font-family: greekdiner;
    src: url(greekdiner.ttf);
}

.header{
	width:100%;
	height:150px;
	position:absolute;
	top:0px;
	left:0px;
	background-color:#97743a;
	color:white;
	font-family:'greekdiner';
	z-index:1;
}

.footer{
	width:100%;
	text-align:center;
	background-color:#262216;
	position:fixed;
	left:0;
	bottom:0;
	z-index:999999;
}

h1{
	margin-left:150px;
	margin-top:10px;
	margin-bottom:10px;
	font-size:100px;
	font-weight: normal;
}

#wrap{
	position:relative;
	width:1000px;
	background-color:#b0a18e;
	color:white;
	z-index:0;
	margin: auto;  
	position: absolute;
	left:0;
	right: 0;
	top: 0;
	bottom: 0;
}

#information{
	margin: auto;  
	position: absolute;
	left:0;
	right: 0;
	top: 170px;
	bottom: 0;
  	text-align:center;
}

.MazeBox{
	background-color:#000;
	cursor: url('cursor.png'), default;
	width:605px;
	height:500px;
	margin: auto;  
	position: absolute;
	left:0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index:2
}

#winpopup {
	display: none;
	background-color:#97743a;
	cursor:default;
	color:white;
	text-align:center;
	width:605px;
	height:500px;
	overflow:auto;
	position:relative;
	z-index:10;
}

#losepopup {
	display: none;
	background-color:#97743a;
	cursor:default;
	color:white;
	text-align:center;
	width:605px;
	height:500px;
	overflow:auto;
	position:relative;
	z-index:10;
}

#startpopup {
	display: block;
	background-color:#97743a;
	cursor:default;
	color:white;
	text-align:center;
	width:605px;
	height:500px;
	overflow:auto;
	position:relative;
	z-index:3;
}

.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:after {
	width: 0%;
	height: 100%;
	top: 0;
	left: 0;
	background: #fff;
}

.btn:hover,
.btn:active {
	color: #97743a;
}

.btn:hover:after,
.btn:active:after {
	width: 100%;
}
