		p {
			margin:15px 15px;
		}

		.aligncenter, div.aligncenter {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		.alignleft {
			float: left;
		}
		.alignright {
			float: right;
		}

		h1 {font-size:300%; font-family:Verdana; color:#dddfd4}
		h2 {font-size:150%; font-family:Verdana; color:#dddfd4}
		h3 {font-size:125%; font-family:Verdana; color:#dddfd4}
		h4 {font-size:100%; font-family:Verdana; color:#dddfd4}
		h5 {font-size:90%; font-family:Verdana; color:#dddfd4}
		h6 {font-size:150%; font-family:Verdana; color: #173e43;}

		a:link {color:#dddfd4;}
		a:hover {color:#3fb0ac;}


			body {
				background:#dddfd4;
				color:#dddfd4;
				font:13px Helvetica,  Arial,  sans-serif;
				display: block;
				margin: 8px 8px 0px 8px;
			}
			
			td {
				vertical-align: middle;
			}

			.wrap {
				position:relative;
				margin:0 auto;
				width:80%;
			}
			
			#header, #footer {
				width:100%;
				min-width: 475px;
				float:left;
				background:#3fb0ac;
			}
			
			#header {
				border-radius: 25px;
			}
			
			#header p {
				float:right;
				width:400px;
				margin:0;
			}
			
			#content {
				padding:15px 15px;
				clear:both;
				max-width:1200px;
				min-width:425px;
			}
			
			#footer {
				width:100%;
				border-radius: 15px 15px 0px 0px;
				background:#3fb0ac;
				text-align:center;
				position:fixed;
				left:0;
				bottom:0;
				z-index:999999;

			}
			
			td {
				overflow: hidden;
				text-overflow: ellipsis;
			}
			
			#education {
				background-color: #173e43;
				border-radius: 10px 35px 10px 35px;
				padding: 2px 16px 2px 16px;
			}
			
			#technology {
				background-color: #173e43;
				border-radius: 10px 35px 10px 35px;
				padding: 2px 16px 2px 16px;
			}
			
			#work {
				background-color: #173e43;
				border-radius: 10px 35px 10px 35px;
				padding: 2px 16px 2px 16px;
			}
			#hire {
				background-color: #173e43;
				border-radius: 10px 35px 10px 35px;
				padding: 2px 16px 2px 16px;
			}
			
			#educatedblurb {
				position:fixed;
				right:8px;
				bottom:56px;
				z-index: 200;
				background-color: #fae596;
				color: #173e43;
				border-radius: 5px 17px 5px 17px;
				padding: 2px 16px 2px 16px;
			}
			
			#modernblurb {
				position:fixed;
				right:8px;
				bottom:56px;
				z-index: 200;
				background-color: #fae596;
				color: #173e43;
				border-radius: 5px 17px 5px 17px;
				padding: 2px 16px 2px 16px;
			}
			
			#experiencedblurb {
				position:fixed;
				right:8px;
				bottom:56px;
				z-index: 200;
				background-color: #fae596;
				color: #173e43;
				border-radius: 5px 17px 5px 17px;
				padding: 2px 16px 2px 16px;
			}
			
			#choiceblurb {
				position:fixed;
				right:8px;
				bottom:56px;
				z-index: 200;
				background-color: #fae596;
				color: #173e43;
				border-radius: 5px 17px 5px 17px;
				padding: 2px 16px 2px 16px;
			}